{% extends 'staff/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'staff/piechart.css' %}">
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add airport</title>
</head>
<body>
<main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <br><br><br>
                    <h3> Available airports: </h3> <br><br>
                    <table class="table table-bordered table-light">
                                  <thead class="thead-light">
                                    <tr>
                                      <th scope="col">Airport_name</th>
                                      <th scope="col">Airport_city</th>
                                    </tr>
                                  </thead>

                                  <tbody>
                                            {% for airport in airports %}
                                                <tr>
                                                {% for item in airport %}
                                                    <td> {{ item }} </td>
                                                {% endfor %}
                                                </tr>
                                            {% endfor %}
                                  </tbody>
                              </table>
                    <br><br><br><br>
                    <form method = "POST">
                            {% csrf_token %}
                            <div class = "row">
                                <div class = "col-md">
                                    <div class="form-floating">
                                        <input type="text" class = "form-control" id="airport_name" name="airport_name"><br>
                                        <label for="airport_name"> airport_name </label>
                                    </div>
                                </div>

                                <div class = "col-md">
                                    <div class="form-floating">
                                        <input type="text" class = "form-control" id="airport_city" name="airport_city"><br>
                                        <label for="airport_city"> airport_city </label>
                                    </div>
                                </div>

                            </div>
                            <br><br>
                            <div class = "form-group">
                            <button class = "btn btn-primary position-relative" type = "submit"> Submit </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
</main>
</body>
</html>
{% endblock %}
