{% extends "staff/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'staff/style.css' %}">
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page!</title>
</head>
<body>
    <h1> Welcome! </h1>
    <br>
        {% if staff %}
            <ul>
                <li> {{ staff.f_name }} {{ staff.l_name }} works for {{ staff.airline_name.airline_name }}</li>
            </ul>
        {% else %}
            <p>Error</p>
        {% endif %}
    <br>
</body>
</html>
{% endblock %}
