{% extends "customer/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'customer/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Home Page </title>
</head>
<body>
    <br><br><br>
    <h1> Hi! {{ customer }} <span class="badge badge-secondary"></span></h1>
    <br>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
    {% if history_flights %}
        <h3> You have {{ history_flights|length }} history flights! </h3>
          <table class="table table-bordered table-light">
              <thead class="thead-light">
                <tr>
                    <th scope="col"> Comment </th>
                  <th scope="col">Airline Name</th>
                  <th scope="col">Flight#</th>
                  <th scope="col">Depart_date</th>
                  <th scope="col">Depart_time</th>
                  <th scope="col">Arrival_date</th>
                  <th scope="col">Arrival_time</th>
                    <th scope="col"> Arrive_airport_city</th>
                    <th scope="col"> Arrive_airport </th>>
                    <th scope="col"> Depart_airport_city</th>
                    <th scope="col"> Depart_airport </th>
                    <th scope="col"> Cost </th>
                </tr>
              </thead>

              <tbody>
              <tr>
                    {% for flight in history_flights %}
                        <tr>
                        <td> <a href="comment?airline_name={{ flight.0 }}&flight_num={{ flight.1 }}&depart_date={{ flight.2 }}&depart_time={{ flight.3 }}"
                                class="btn btn-primary" role="button" data-bs-toggle="button">Comment</a></td>

                        {% for item in flight %}
                            <td> {{ item }} </td>
                        {% endfor %}
                        <tr>
                    {% endfor %}
              </tr>
              </tbody>
          </table>
    {% else %}
            <h3> You don't have history flights!</h3>
    {% endif %}

    {% if future_flights %}
        <h3> You have {{ future_flights|length }} future flights! <span class="badge badge-secondary"></span></h3>
          <table class="table table-bordered table-light">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Airline Name</th>
                  <th scope="col">Flight#</th>
                  <th scope="col">Depart_date</th>
                  <th scope="col">Depart_time</th>
                  <th scope="col">Arrival_date</th>
                  <th scope="col">Arrival_time</th>
                    <th scope="col"> Arrive_airport_city</th>
                    <th scope="col"> Arrive_airport </th>>
                    <th scope="col"> Depart_airport_city</th>
                    <th scope="col"> Depart_airport </th>
                    <th scope="col"> Cost </th>
                </tr>
              </thead>

              <tbody>
                        {% for flight in future_flights %}
                            <tr>
                            {% for item in flight %}
                                <td> {{ item }} </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
              </tbody>
          </table>
    {% else %}
        <h3> You don't have future flights!</h3>
    {% endif %}

    {% if message %}
        <h3> {{ message }}</h3>
    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <br>
</body>
</html>
{% endblock content %}
