{% extends "customer/base.html" %}
{% block content %}
{% if message %}
    <h2> {{ message }} </h2>
    {% if need_to_signup %}
        <a class = "ml-2" href = "{% url 'App:register_customer' %}"> Sign Up </a>
    {% endif %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Customer Login </title>
</head>
<body>
    <div class = "content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4"> Welcome! </legend>
                {{ form.as_p }}
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-primary" type = "submit"> Log in </button>
            </div>
        </form>
    </div>
</body>
</html>
{% endblock content %}
