{% extends 'customer/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8"><link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
        <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/themes/sand-signika.js"></script>
</head>

<body>
    <br><br><br><br>
    {% if default %}
        <h2> Your total spending last year is {{ data1 }}$ </h2>
    {% else %}
        <h2> Your total spending from {{ startDate }} to {{ endDate }} is {{ data1 }}$ </h2>
    {% endif %}
    <br><br>
    <div id="container" style="min-width:400px;height:400px"></div>

    <script>
            var chart = Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Total spending from {{ startDate }} to {{ endDate }}'
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45  // 设置轴标签旋转角度
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'dollars'
                }
            },
            legend: {
                enabled: false
            },
            series: [{
                name: 'Spending',
                data: [
                    {% for data in data2 %}
                        ['{{ data.0 }}',{{ data.1 }}],
                    {% endfor %}
                ],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'left',
                    y: 20
                }
            }]
    });
    </script>

    <br><br>
    <h3> You could specify range for your spending! </h3>
    <form method = "POST">
        {% csrf_token %}
    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input type="date" class="form-control" id="startDate" name = "startDate">
          <label for="startDate">startDate</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
            <input type="date" class="form-control" id="endDate" name="endDate">
          <label for="endDate">endDate</label>
        </div>
      </div>
    </div>
    <br><br><br><br>
    <div class = "form-group">
        <button class = "btn btn-primary position-relative" type = "submit"> Submit </button>
    </div>
    </form>
</body>
</html>
{% endblock %}
